<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.itceiling.telephony">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission
        android:name="android.permission.CAPTURE_AUDIO_OUTPUT"
        android:protectionLevel="signature|privileged" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground4"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:roundIcon="@mipmap/ic_launcher_foreground4"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".AppVK"
        tools:replace="android:icon">

        <activity android:name=".Activity.AuthorizationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity.MainActivity"></activity>

        <activity
            android:name=".Activity.ClientActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Activity.ClientsListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CallbackListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.AnalyticsActivity" />

        <receiver
            android:name=".Broadcaster.CallReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".Broadcaster.CallbackReceiver"
            android:enabled="true" />
        <receiver android:name=".Broadcaster.ImportDataReceiver" />

        <receiver android:name=".Broadcaster.ExportDataReceiver" />

    </application>

</manifest>